* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
header{
    width: 100;
    padding: 1em;
    background-color: cadetblue;
    color: white;
    text-align: center;
}