* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
} 
header{
    width: 100;
    padding: 1em;
    background-color:cadetblue ;
    color: white;
    text-align: center;
}
header h1{ 
    margin-bottom: 0.5em;
    color: whitesmoke;
}
header p{
    color: #ecf0f1);
}
nav{
    background: color #344934;;
    padding: 1em;
}
nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}
nav ul li{
    padding: 0.5em;
}
a {
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
    font-size: 1.2em;
}
a:hover{
    text-decoration: underline;
    color: aquamarine;
}
section{
    background-color: white;
    padding: 2em;
    margin: 1em auto;
    max-width: 1000px;
    border: 1px solid#ddd;
    border-radius: 5px;
}